header {
  background-color: $blanc;
  nav {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: solid 1px #000;

    .nav-1 {
      position: relative;
      padding: 25px 5%;
      @include Spacebetween;
      max-width: 1500px;
      margin: 0 auto;
    }
  }
  h1 {
    font-family: $Nunito600;
  }
  span {
    font-family: $Nunito600;
    font-size: 1.1rem;
    margin-left: 5px;
    cursor: pointer;
  }
  nav i {
    padding: 0 10px;
  }
  form {
    background-color: $petitGris;
    .form-1 {
      padding: 50px 5% 0 5%;
      display: flex;
      align-items: start;
      justify-content: space-between;
      max-width: 1500px;
      margin: 0 auto;
    }
    .form-1-container {
      position: relative;
    }

    input {
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: $blanc;
      border: none;
      outline: none;
      padding: 5%;
      padding-left: 54px;
      border-radius: 5px;

      width: 320px;
    }
    .form-1-container i {
      color: black !important;
      position: absolute;
      left: 15px;

      top: 50%;
      transform: translateY;
      transform: translateY(-50%);
    }

    span {
      background-color: $blanc;
      padding: 5%;
      width: 200px;
    }
    .Select {
      width: 170px;
      height: 50px;
      @include Spacebetween;
      cursor: pointer;
      background-color: $blanc;
      padding: 8%;
      border-radius: 5px;
    }
    h3 {
      font-size: 0.8rem;
    }
    .Select i {
      position: relative;
    }
    ul {
      background-color: hsl(0, 0%, 100%);
      margin-top: 10px;
      padding: 13px 15px;
      height: 147px;
      border-radius: 5px;
      display: none;
    }
    li {
      margin-top: 2px;
    }
  }
}
// .toggleBlack {
//   background-color: $bleuFonce1;
//   color: $blanc;
//   opacity: 2;
// }
.toggleBlack2 {
  background-color: $bleu !important;
  color: $blanc !important;
}
.toggleBlack2Placeholder::placeholder {
  color: $blanc;
}
.display {
  display: block;
}
