#resultat {
  padding: 35px 5% 27px 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.Container-Pays {
  background: $blanc;
  width: 270px;
  height: 330px;
  .MarginLeft h2 {
    font-size: 1.2rem;
  }
  img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
  }
}
.MarginLeft {
  padding: 5%;
}
.Pupulation {
  color: gray;
}
#resultatAuClick {
  z-index: 21;
  position: inherit;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  #Back-container {
    position: absolute;
    top: 65px;
    left: 50%;
    padding: 0 5%;
    max-width: 1500px;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  #Back {
    i {
      padding-right: 7px;
    }
    padding: 6px 33px;
    cursor: pointer;
    background: hsl(0, 0%, 100%);

    border-radius: 6px;
    box-shadow: 1px -1px 8px 2px rgba(0, 0, 0, 0.1);
  }
}
.Separation {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  h4 {
    margin-top: 15px;
  }
}
.Separation2 h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.Separation {
  img {
    height: 356px;
    width: 500px;
  }
  .Separation3 {
    display: flex;
    gap: 70px;
  }
}
h4 {
  font-size: 0.8rem;
  margin-top: 8px;
}
