* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito300";
  src: url(../font/Nunito300.ttf);
}
@font-face {
  font-family: "Nunito600";
  src: url(../font/Nunito600.ttf);
}
@font-face {
  font-family: "Nunito800";
  src: url(../font/Nunito800.ttf);
}
body {
  background-color: #fafafa;
  font-family: Nunito300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: hsl(0, 0%, 100%);
}
header nav {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  border-top: solid 1px #000;
}
header nav .nav-1 {
  position: relative;
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
header h1 {
  font-size: 1.3rem;
  font-family: Nunito600;
}
header span {
  font-family: Nunito600;
  font-size: 1.1rem;
  margin-left: 5px;
  cursor: pointer;
}
header nav i {
  padding: 0 10px;
}
header form {
  background-color: hsl(0, 0%, 98%);
}
header form .form-1 {
  padding: 41px 5% 0 5%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
}
header form .form-1-container {
  position: relative;
}
header form input {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: hsl(0, 0%, 100%);
  border: none;
  outline: none;
  padding: 5%;
  padding-left: 54px;
  border-radius: 5px;
  width: 320px;
}
header form .form-1-container i {
  color: black;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY;
  transform: translateY(-50%);
}
header form span {
  background-color: hsl(0, 0%, 100%);
  padding: 5%;
  width: 200px;
}
header form .Select {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  padding: 8%;
  border-radius: 5px;
}
header form h3 {
  font-size: 0.8rem;
}
header form .Select i {
  position: relative;
}
header form ul {
  background-color: hsl(0, 0%, 100%);
  margin-top: 10px;
  padding: 13px 15px;
  height: 147px;
  border-radius: 5px;
  display: none;
}
header form li {
  margin-top: 2px;
  cursor: pointer;
}

.toggleBlack3 {
  background-color: hsl(207, 26%, 17%) !important;
  color: black !important;
}

.toggleBlack2 {
  background-color: hsl(209, 23%, 22%) !important;
  color: rgba(245, 245, 245, 0.938) !important;
}

.toggleBlack2Placeholder::-moz-placeholder {
  color: hsl(0, 0%, 100%);
}

.toggleBlack2Placeholder::placeholder {
  color: hsl(0, 0%, 100%);
}

.display {
  display: block;
  width: 174px;
  position: absolute;
}

@media screen and (max-width: 575px) {
  header form .form-1 {
    display: block;
  }
  header form input {
    width: 100%;
  }
  header form .Select {
    padding: 6%;
    margin-top: 38px;
    width: 213px;
  }
}
@media screen and (max-width: 500px) {
  header h1 {
    font-size: 1rem;
  }
}
#resultat {
  padding: 35px 5% 27px 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.Container-Pays {
  background: hsl(0, 0%, 100%);
  width: 270px;
  height: 330px;
}
.Container-Pays .MarginLeft h2 {
  font-size: 1.2rem;
}
.Container-Pays img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.MarginLeft {
  padding: 5%;
}

.Pupulation {
  color: gray;
}

#resultatAuClick {
  z-index: 21;
  position: inherit;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#resultatAuClick #Back-container {
  position: absolute;
  top: 65px;
  left: 50%;
  padding: 0 5%;
  max-width: 1500px;
  width: 100%;
  transform: translate(-50%, -50%);
}
#resultatAuClick #Back {
  padding: 6px 33px;
  cursor: pointer;
  background: hsl(0, 0%, 100%);
  border-radius: 6px;
  box-shadow: 1px -1px 8px 2px rgba(0, 0, 0, 0.1);
}
#resultatAuClick #Back i {
  padding-right: 7px;
}

.Separation {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}
.Separation h4 {
  margin-top: 15px;
}

.Separation2 h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.Separation img {
  height: 356px;
  width: 500px;
}
.Separation .Separation3 {
  display: flex;
  gap: 70px;
}

h4 {
  font-size: 0.8rem;
  margin-top: 8px;
}/*# sourceMappingURL=index.css.map */